<!doctype html>
<head>
  {% load static %}
  <title>Something</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script type="text/javascript" src="{% static 'tinymce/js/prism.js' %}"></script>
    <!-- Compiled and minified JavaScript for Materialize CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    M.AutoInit();
  </script>
</head>
<body>
  {% include "portal/includes/navbar.html" %}
  {% include "portal/includes/messages.html" %}
  <div class="container">
  {% block content %}

  {% endblock %}
  </div>
  {% block dsearch %}
  {% endblock %}
</body>