{% extends "portal/header.html" %}

{% block content %}
<body>
	
	{% if user.is_authenticated %}	  
    	{% if person.2 == "doctor" %}
			<H3>Appoitments: </h3>
			<Button><a href="/editprofiledoctor">EDIT PROFILE</a></Button>
			{% for appointment in appointments %}
				<h5>{{appointment}}</h5>
			{% endfor %}

		{% else %}
			<H3>Appoitments: </h3>
			{% for appointment in appointments %}
				<h5>{{appointment}}</h5>
			{% endfor %}
			<a href="/searchfordoctor">Search for doctor</a>
			<Button><a href="/editprofilepatient">EDIT PROFILE</a></Button>

		{% endif %}
	{% endif %}
</body>
{% endblock %}